div:hover {
  border: 1px solid teal;
}

div:nth-of-type(1) {
  background-color: red;
}

div:nth-of-type(2) {
  background-color: green;
}

div:nth-of-type(3) {
  background-color: yellow;
}

div:nth-of-type(4) {
  background-color: grey;
}

div:nth-of-type(5) {
  background-color: lightblue;
}

h3:nth-of-type(1) {
  color: purple;
}

h3:nth-of-type(2) {
  color: green;
}

h3:nth-of-type(3) {
  font-size: 20px;
}

h3:nth-of-type(4) {
  font-family: monospace;
}

h3:nth-of-type(5) {
  font-style: italic;
}
