body {
  font-size: 16px;
}

h1 {
  color: orange;
  font-family: sans-serif;
  font-size: 65px;
}

p {
  font-size: 3em;
  font-weight: 600px;
  font-style: oblique 90deg;
  line-height: 15px;
  text-align: justify;
  text-decoration: teal;
}

ul {
  background-color: cyan;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#brown {
  background-color: brown;
}
