/* 1. position mario above goomba */
.super-mario {
  left: 100px;
  position: absolute;
  top: 100px;
  width: 200px;
}

/* 2. place bowser to the right of the goomba */
.goomba {
  left: 100px;
  position: absolute;
  top: 400px;
  width: 100px;
}

.bowser {
  left: 700px;
  position: absolute;
  top: 300px;
  width: 200px;
}

/* 3. position the balloon so that it becomes bowser's speech */
.baloon {
  left: 400px;
  position: absolute;
  top: 250px;
}

/* 4. position the p tag text so that it is inside the speech bubble */
.speach {
  font-size: 25px;
  left: 420px;
  position: absolute;
  top: 290px;
  z-index: 2;
}
