/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* 1. increase the font size */
  font-size: large;
}

article {
}

/* 2. decrease the font size of the h1 and h2 elements; set a margin for these elements */
h1 {
  font-size: xx-large;
  margin: auto;
}

h2 {
  font-size: x-large;
  margin: auto;
}

img {
  max-width: 100%;
}

main {
}

section {
}

/* 3. increase the spacing between figures */
figure {
  margin: 0 0 25px 0;
  padding: 10px;
}

figcaption {
  font-size: 0.8em;
}
