.container {
  background-color: #fff;
  padding: 2em;
  margin-bottom: 2em;
  border: 1px solid #b4b9c0;
  border-radius: 8px;
}

.title {
  color: #138a0f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  margin: 0 0 1em 0;
}

.text {
  color: #323c48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
