.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

/* 1. insert a 20px padding in the class below to apply it to items B, C and D */
.padding {
  padding: 20px;
}

/* 2. insert a 30px margin in the class below to apply it to items C and D */
.margin {
  margin: 30px;
}

/* 3. insert a border with value '5px solid black' in the class below to apply it to item D */
.border {
  border: 5px solid black;
}
