body {
  margin: 0;
  padding: 0;
  background-color: #f1eddd;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #022c16;
  margin-bottom: 3em;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
